<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horizon Braven Real-Time Benefit Questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <header>
        <h1>Real-Time Benefit Questions</h1>
    </header>
    <!-- The content of each page will be inserted here -->
    {% block content %}{% endblock %}
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>