{% extends 'header.html' %}

{% block content %}
<div class="container">
    <div class="column left">
        <div class="content-header">
            <h2>Transcript</h2>
            <div class="button-group">
                <button id="startRecognition">🎙️ Start Call Log</button>
                <button id="stopRecognition" disabled>🛑 Stop Call Log</button>
            </div>
        </div>
        <div id="transcription"></div>
    </div>
    <div class="column right">
        <div class="content-header">
            <h2>Insights from <a href="https://assets.healthfirst.org/pdf_e55G9yMXhTzz/2024-gold-leaf-plan-summary-of-benefits-english?_gl=1*1ru7qhm*_gcl_au*MTA5Njc3Mzk0Ny4xNzI1MDI3ODMw*_ga*MTAwNTc5MzM1NC4xNzI1MDI3ODMx*_ga_1B4TRPJFLV*MTcyNTAyNzgzMC4xLjAuMTcyNTAyNzg1OC4wLjAuMA.." target="_blank">Plan Doc</a></h2>
        </div>
        <div id="analysis"></div>
    </div>
</div>
{% endblock %}